@import 'grid/gridlecss.scss';

$background-color: #F8F8FB;
$white:    #fff;
$gray:     #ecf0f1;
$black:    #34495e;
$darkblue: '';
$ink:      '';
$blue:     #6DA9ED;
$green:    #2ecc71;
$yellow:   #f1c40f;
$orange:   #e67e22;
$red:      #e74c3c;
$purple:   #9b59b6;
$teal:     #1abc9c;
$indigo:   '';

$colors: ('white', 'gray', 'black', 'darkblue', 'ink', 'blue', 'green', 'yellow', 'orange', 'red', 'purple', 'teal', 'indigo', 'facebook', 'twitter', 'google');

$config: (
  border: (
    size: 1px,
    radius: 6px
  ),

  palette: (
    brand: (
      primary:     #8A9EF4,
      secondary:   #E4C7F9,
      alternative: #D0DFEB,
      bright:      #CED3F6,
      dark:        #A6D2F2,
      light:       #FDFDFD
    ),

    color: (
      "white": (
        base: #FFFFFF
      ),
      
      "gray": (
        lighter:  #f7f7f7,
        light:    whitesmoke,
        base:     #F2F2F2,
        dark:     #c7c7c7,
        darker:   #a0a0a0
      ),
      
      "black": (
        lightest: #919EAB,
        lighter:  #637381,
        light:    #454F5B,
        base:     #212B35
      ),

      "darkblue": (
        light:    #B3B5CB,
        base:     #43467F,
        dark:     #1C2260,
        darker:   #00044C
      ),

      "ink": (
        lightest: #919eab,
        lighter:  #637381,
        light:    #454f5b,
        base:     #212b36
      ),

      "blue": (
        lighter:  #ebf5fa,
        light:    #ABDCFF,
        base:     $blue,
        dark:     darken($blue, 10%),
        darker:   darken($blue, 10%),
        text:     darken($blue, 10%)
      ),

      "green": (
        lighter:  #e3f1df,
        light:    #bbe5b3,
        base:     #50b83c,
        dark:     #108043,
        darker:   #173630,
        text:     #414f3e
      ),

      "yellow": (
        lighter:  #fcf1cd,
        light:    #ffea8a,
        base:     #eec200,
        dark:     #9c6f19,
        darker:   #573b00,
        text:     #595130
      ),

      "orange": (
        lighter:  #fcebdb,
        light:    #FCCF31,
        base:     $orange,
        dark:     #c05717,
        darker:   #4a1504,
        text:     #594430
      ),

      "red": (
        lighter:  #fbeae5,
        light:    #FEB692,
        base:     #EA5455,
        dark:     #bf0711,
        darker:   #330101,
        text:     #583c35
      ),

      "purple": (
        lighter:  #f6f0fd,
        light:    #CE9FFC,
        base:     #7367F0,
        dark:     #50248f,
        darker:   #230051,
        text:     #50495a
      ),

      "teal": (
        lighter:  #e0f5f5,
        light:    #b7ecec,
        base:     #47c1bf,
        dark:     #00848e,
        darker:   #003135,
        text:     #405352
      ),

      "indigo": (
        lighter:  #f4f5fa,
        light:    #b3bcf5,
        base:     #5c6ac4,
        dark:     #202e78,
        darker:   #000639,
        text:     #3e4155
      ),

      'facebook': (
        lighter:  #3b5998,
        light:    #3b5998,
        base:     #3b5998,
        dark:     #3b5998,
        darker:   #3b5998,
        text:     #3b5998
      ),

      'twitter': (
        lighter:  #1da1f2,
        light:    #1da1f2,
        base:     #1da1f2,
        dark:     #1da1f2,
        darker:   #1da1f2,
        text:     #1da1f2
      ),

      'google': (
        lighter:  #ea4335,
        light:    #ea4335,
        base:     #ea4335,
        dark:     #ea4335,
        darker:   #ea4335,
        text:     #ea4335
      )
    )
  ),

  spacing: 32px
);

@function ui($keys...) {
  @return config($config, $keys...);
}

@function config($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}

@function color($key, $saturation: base, $from: null) {
  @if ($from) {
    @return config($config, palette, $from, "#{ $key }");
  } @else {
    @return config($config, palette, color, "#{ $key }", $saturation);
  }
}

@import 'helpers/margin.scss';
@import 'helpers/padding.scss';
@import 'helpers/typography.scss';

@import url('https://fonts.googleapis.com/css?family=Crimson+Pro:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900&display=swap');

html { background-color: color(gray, light); }

body {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 16pt;
  font-weight: 200;
}

.content {
  background-color: color(white);
  margin: ui(spacing);
  border-radius: 12px;
  padding: ui(spacing);
}

header {
  nav {
    padding-bottom: ui(spacing) / 2;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      list-style: none;

      li {
        display: flex;

        &.spacer { flex: 1; }
      }
    }
  }
}

section {
  z-index: 0;

  &.intro {
    position: relative;

    img.splash {
      border-radius: 12px;
      margin-left: -(ui(spacing) * 2);
      object-fit: cover;
      object-position: top 0;
      width: calc(100% + #{ ui(spacing) * 4 });
      height: ui(spacing) * 13;
      z-index: 0;
      position: relative;

      &.blur { filter: blur(3px); }

      &:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + #{ ui(spacing) * 3.5 });
        height: ui(spacing) * 12.5;
        left: ui(spacing) / 3.5;
        top: ui(spacing) / 3.5;
        z-index: 1;
      }
    }

    > .column {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
}