@import 'config.scss';
@import 'layout.scss';
@import 'theme.scss';

.overflow-x-hidden {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

body {
  @include mq($from: 'xs') { background-color: color(white); }
  @include mq($from: 'sm') { background-color: color(gray, lighter); }

  font-family: 'Quicksand', sans-serif;
  font-size: 18px;

  h1, h2, h3, h4, h5, h6 { font-family: 'Darker Grotesque', sans-serif; }
}

.content {
  @include mq($from: 'sm') {
    background-color: color(white);
    margin: 0;
    border-bottom-left-radius: 8pt;
    border-bottom-right-radius: 8pt;
    box-shadow: 0 16px 32px -16px color(gray, dark);
    z-index: 10;
    position: relative;
  }
}

header {
  .logo {
    @include mq($from: 'md') {
      width: 100px;
    }
  }

  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: flex;

        &.spacer { flex: 1; }
      }
    }
  }
}

.intro {
  position: relative;

  section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  img.splash {
    object-fit: cover;
    object-position: top 0;
    height: ui(spacing) * 13;
    display: flex;
    z-index: 0;
    position: relative;
    top: 0;

    &:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - #{ ui(spacing) / 2 });
      height: ui(spacing) * 12;
      left: ui(spacing) / 2;
      top: ui(spacing) / 2;
      z-index: 1;
    }

    @include mq($from: 'sm') {
      width: calc(100% + #{ ui(spacing) * 2 });
      margin-left: -(ui(spacing));
      border-radius: 8pt;

      &:nth-child(1) { width: calc(100% + #{ ui(spacing) * 2 } - #{ ui(spacing) }); }
    }

    &.blur { filter: blur(3px) contrast(1.1); }
  }
}

.services {
  position: relative;

  @include mq($from: 'md') { padding-bottom: 0; }

  .background {
    left: 0;
    border-top-left-radius: ui(spacing);
    background-color: color(yellow, light);

    @include mq($from: 'sm') {
      left: -48px;

      &::after {
        content: '';
        position: absolute;
        background-color: color(yellow, light);
        width: 100%;
        height: 100%;
        left: 100%;
      }
    }

    @include mq($from: 'md') { left: -35px; }
  }

  .shadow {
    &::before {
      left: 0;
      top: 38px;
      box-shadow: -5px 0 15px 1px color(yellow, darker);

      @include mq($from: 'md') { top: 65px; }
    }

    &::after {
      right: 0;
      top: -40px;
      box-shadow: 5px 0 15px 1px color(yellow, darker);

      @include mq($from: 'md') { top: -60px; }
    }
  }

  .service {
    @include mq($from: 'sm') {
      &.column-1-4 {
        grid-row: 3;
        grid-column: 1 / 3;
      }
    }

    @include mq($from: 'md') {
      &.row-2 { grid-row: 2; }
      &.column-1-4 { grid-column: 1 / 4; }
      &.row-span-2 { grid-row: span 2; }
    }

    @include mq($from: 'sm') {
      &:nth-child(1) { margin-top: 60px; }
      &:nth-child(2) { margin-top: 20px; }
      &:nth-child(4) { margin-top: -40px; }
      &:nth-child(5) { margin-bottom: 32px; }
    }

    @include mq($from: 'md') {
      &:nth-child(1) { margin-top: 80px; }
      &:nth-child(2) { margin-top: 50px; }
      &:nth-child(3) { margin-top: 20px; }
      &:nth-child(4) { margin-top: -20px; }
      &:nth-child(5) { margin-bottom: 0; }
    }

    &-title {
      @extend .-x600, .-orange, .-line-10;
      @extend .-margin-bottom_2;
    }

    &-options {
      margin: 0 0 0 3px;

      @extend .-padding-left_2;
      @extend .-white, .-x400, .-line-12;

      li + li { @extend .-margin-top_4; }
    }

    p { @extend .-orange, .-x600, .-line-12; }

    &-action {
      @include mq($from: 'sm') { margin-bottom: -(ui(spacing) / 2); }
      @include mq($from: 'md') { margin-top: 48px; }
    }
  }
}

.wellbeing {
  @include mq($from: 'sm', $until: 'md') {
    padding-top: ui(spacing) * 2;
    padding-bottom: ui(spacing) + (ui(spacing) / 2);

    .action { margin-bottom: -(ui(spacing)); }
  }

  @include mq($from: 'md') {
    padding-top: ui(spacing) * 3;
    padding-bottom: 0;
    margin-bottom: -(ui(spacing) / 2);
  }
}

.feed {
  position: relative;

  .background {
    left: -(ui(spacing));
    border-bottom-right-radius: ui(spacing);
    background-color: color(blue);

    @include mq($from: 'sm') {
      top: 3px;
      left: -40px;

      &::before {
        content: '';
        position: absolute;
        background-color: color(blue);
        width: 100%;
        height: 100%;
        right: calc(100% - 1px);
      }
    }

    @include mq($from: 'md') {
      left: -73px;
      top: 7.5px;
    }
  }

  .shadow {
    &::before {
      left: 0;
      top: 41px;
      box-shadow: -5px 0 15px 1px darken(color(blue, darker), 5%);

      @include mq($from: 'md') { top: 70px; }
    }

    &::after {
      right: 0;
      top: -37px;
      box-shadow: 5px 0 15px 1px darken(color(blue, darker), 5%);

      @include mq($from: 'md') { top: -60px; }
    }
  }

  .testimonial {
    &-post-content {
      p {
        @extend .-white;
        @extend .-x300, .-line-12;

        + p { @extend .-margin-top_3; }
      }
    }
  }

  @include mq($from: 'sm') {
    .slider-container {
      position: relative;

      .slider-controls {
        position: absolute;
        right: 0;
        bottom: -(ui(spacing) * 3.5);
      }
    }
  }

  @include mq($from: 'md') {
    .slider-controls { top: calc(100% + #{ ui(spacing) / 2 }); }
  }

  + .clearfix {
    height: 92px;

    @include mq($from: 'md') { height: 120px; }
  }
}

section {
  @extend .-padding;

  .background {
    height: 100%;
    position: absolute;
    top: 0;
    width: 110%;
    z-index: -1;

    @include mq($from: 'sm') { transform: rotate(-7deg); }
  }

  @include mq($from: 'sm') {
    .shadow {
      &::before,
      &::after {
        content: '';
        height: 100%;
        position: absolute;
        width: 1px;
      }
    }
  }
}

@import '../node_modules/tiny-slider/dist/tiny-slider.css';

.tns-outer {
  > .tns-nav,
  > button[data-action="stop"], > button[data-action="start"],
  > .tns-liveregion { display: none; }
}

@import '../node_modules/tingle.js/dist/tingle.css';

.tingle-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tingle-modal-box {
  width: 100%;
  flex: 0 1 auto;

  @extend .cell-xs-12;
  @extend .cell-sm-10;
  @extend .cell-md-6;
}

.tingle-modal-box__content { padding: ui(spacing); }