.display-grid {
  display: grid;
  // grid-auto-rows: minmax(100px, auto);

  &.-columns {
    @each $breakpoint in $mq-breakpoints {
      $break: nth($breakpoint, 1);
      $size: nth($breakpoint, 2);
      
      @media (min-width: $size) {
        @for $i from 1 through $grid-columns {
          &-#{ $break }-#{ $i } {
            grid-template-columns: repeat($i, 1fr);
          }
        }
      }
    }
  }

  &.-gap {
    &-1 { grid-gap: 1px; }
    &-4 { grid-gap: 4px; }
    &-8 { grid-gap: 8px; }
    &-16 { grid-gap: 16px; }
    &-32 { grid-gap: 32px; }
  }
}