.pill {
  @each $color in $colors {
    &.-#{ $color } {
      background-color: color($color);
      background-image: linear-gradient(140deg, color($color, light) 0%, color($color) 100%);

      &.-solid {
        background-image: none;
        background-color: color($color);
      }
      
      &.-empty { color: color($color); }

      &.-lighter { background-color: color($color, lighter); }
      &.-light   { background-color: color($color, light); }
      &.-dark    { background-color: color($color, dark); }
      &.-darker  { background-color: color($color, darker); }
    }
  }

  &.-square   { border-radius: 0; }
  &.-rounded  { border-radius: ui(border, radius); }
  &.-round    { border-radius: 250px; }
  &.-shadowed { box-shadow: 0 1px 3px rgba(color(purple), .06), 0 1px 2px rgba(color(purple), .12); }

  @extend .-white;
  @extend .-solid;
  @extend .-rounded;
}